ADMIN_NAME="Fahmi Aulia Rahman"
ADMIN_EMAIL="hi@fahmiar.com"

DEBUG=True
SECRET_KEY="your-super-secret-key"
ALLOWED_HOSTS="localhost,127.0.0.1"
CSRF_TRUSTED_ORIGINS="https://localhost:8000,https://127.0.0.1:8000"
TIME_ZONE="UTC" # https://docs.djangoproject.com/en/6.0/ref/settings/#std-setting-TIME_ZONE
DOMAIN=example.com
TLS_CERT_DIR=./certs

EMAIL_HOST=localhost
EMAIL_PORT=1025
EMAIL_HOST_USER=""
EMAIL_HOST_PASSWORD=""
EMAIL_USE_TLS=False
EMAIL_USE_SSL=False
DEFAULT_FROM_EMAIL="webmaster@localhost"
SITE_URL=http://127.0.0.1:8000

POSTGRES_DB_NAME=boilerplate
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=db
POSTGRES_PORT=5432

STORAGE_PROVIDER=local # or s3
AWS_ACCESS_KEY_ID="your-access-key"
AWS_SECRET_ACCESS_KEY="your-secret-key"
AWS_STORAGE_BUCKET_NAME="boilerplate-bucket"

# CRITICAL FOR R2 / MINIO: Leave blank for actual AWS S3
# MinIO example: http://localhost:9000
# Cloudflare R2 example: https://<account_id>.r2.cloudflarestorage.com
AWS_S3_ENDPOINT_URL="https://your-endpoint-url.com"
